@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --gradient: linear-gradient(to right, #ffa399, #ff4d97);
  --paleBlue: #dddbff;
  --grayBlue: #848794;
  --darkBlue: #1d2c67;
  --veryDarkBlue: #0c122c;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--veryDarkBlue) url(../images/bg-desktop.svg) no-repeat bottom;
  background-size: contain;
  color: var(--white);
  height: 100vh;
  font-family: "Raleway", sans-serif;
  position: relative;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.fylo-info {
  display: flex;
  flex-direction: column;
  margin-top: 265px;
}

#fylo-data-storage .fylo-info {
  background: var(--darkBlue);
  border-radius: 8px;
  border-top-right-radius: 75px;
  margin-right: 1rem;
  padding: 2rem;
  width: 275px;
}

.fylo-info .fylo-logo img {
  width: 110px;
  margin-bottom: 1.5rem;
}

.fylo-icons {
  display: flex;
}

.fylo-info .fylo-icons .item {
  background: var(--veryDarkBlue);
  margin-right: 0.5rem;
}

.fylo-info .fylo-icons img {
  height: 1rem;
}

.fylo-info a {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  align-self: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.fylo-data-info {
  margin-top: 19rem;
}

.fylo-data-info .quote-box {
  background: var(--white);
  border-radius: 8px;
  width: 9rem;
  color: var(--grayBlue);
  padding: 1rem;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  margin-left: 15.68rem;
  margin-top: -3.12rem;
}

.fylo-data-info .quote-box .bold-text {
  color: var(--black);
  font-size: 2rem;
  margin-right: 2px;
  vertical-align: center;
}

.fylo-data-info .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--white);
  margin-left: 23.75rem;
  margin-top: 0.3rem;
  z-index: 1;
}

.data-storage {
  background: var(--darkBlue);
  padding: 2rem;
  border-radius: 8px;
  width: 425px;
  position: relative;
}

.data-storage .data-info-used {
  color: var(--grayBlue);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
}

.data-storage .data-info-used .bold-text {
  color: var(--paleBlue);
  font-size: 11px;
  font-weight: 700;
}

.data-storage .storage {
  width: 100%;
  height: 1rem;
  background: #151e46;
  border-radius: 50px;
  margin-top: 0.5rem;
}

.gradient {
  background: var(--gradient);
  height: 1rem;
  border-radius: 50px;
  border: solid #151e46 2px;
}

.circle {
  background: #fbfaf9;
  border-radius: 50px;
  height: 0.75rem;
  width: 0.75rem;
  margin-top: -0.885rem;
  margin-left: 17.525rem;
}

.data-info-para {
  display: flex;
  color: var(--paleBlue);
  font-size: 10px;
  margin-top: 0.4rem;
  font-weight: 700;
}

.data-info-para .full-storage {
  margin-left: 18.5rem;
}

.attribution {
  margin-top: 400px;
  font-size: 12px;
  text-align: center;
  color: var(--white);
  letter-spacing: 1px;
}
.attribution a {
  color: var(--white);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--grayBlue);
  font-size: 11.5px;
  font-weight: 700;
}
